<div>
    <div class="jumbotron sty">
        <h1>
            {{title}}
        </h1>
    </div>
    <div class="jumbotron city">
        <span [innerText]="city"></span>
        <span [innerText]="currentTime"></span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading home">
            <h3 class="panel-title">Home Page</h3>
        </div>
        <div class="redirection">
            if you're new to app,please <a [routerLink]="['/registration']">Register</a> or <a
                [routerLink]="['/login']">Login</a>
        </div>

        <div class="panel-body">
            <router-outlet></router-outlet>

            <!--  <div>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let user of users">
                        <tr>
                            <td>
                                {{user.userName}}
                            </td>
                            <td>
                                {{user.mail_id}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-login></app-login>
            </div>
            <div>
                <app-registration></app-registration>
            </div> -->
        </div>
    </div>
</div>